.association-list {
  list-style: none;
  padding: 1rem 0.1rem 0;
  overflow: hidden;
}

.association-list-item {
  color: black;
  padding: 0.3rem 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.association-list-item a {
  color: #272727;
  overflow: hidden;
  text-overflow: ellipsis;
}

.association-list-item a:hover {
  color: #41e254;
}

.association-list-item button {
  display: inline;
  background-color: #272727;
  color: white;
  margin-right: 0.4rem;
  cursor: pointer;
}

.association-list-item button:hover {
  color: red;
  background-color: #272727;
}
