.graph-container {
  height: 100vh;
  background-color: #e7e7e7;
  // border: 20px solid #272727;
  border: 5px solid #272727;
}

.graph-text {
  text-align: left;
  color: #8f0000;
  text-shadow: 1px 1px #f3f3f3;
  stroke: none;
  transition: 1s;
}

text.graph-text:hover {
  fill: #464646;
  transition-duration: 0.1s;
}

.graph-node {
  color: black;
  // stroke: white;
  stroke: #e7e7e7;
  fill: #000000;
}

.graph-node:hover {
  stroke: black;
  stroke-width: 3px;
  transition-duration: 0.1s;
}
