@link-color: #16e998;

.help-container {
  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.05rem;
  }

  a {
    color: @link-color;
  }
}

.help-header {
  background: linear-gradient(90deg, #ff8fc3 0%, #f9f7bc 47%, #9eefff 100%);
}

.help-icon {
  font-size: 10rem;
  display: block;
  text-align: center;
  padding: 2rem;
}
