.login-layout {
  height: 100vh;
  margin: 0 auto;
  a {
    color: white;
  }
}

.login-title {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  vertical-align: middle;
  color: #41e254;
  font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
}

.login-content {
  width: 100%;
  margin: 0 auto;
}

.login-card {
  border: none;
  border-radius: 0;
  padding-top: 27vh;
  height: 100vh;
  width: 100%;
  // background-image: url('../../../resources/streetlights.png');
  // background-image: url('../../../resources/northern-lights.jpg');
  // background-size: cover;
  background: linear-gradient(90deg, #ff8fc3 0%, #f9f7bc 47%, #9eefff 100%);
  // background-color: #272727;
  // background-repeat: no-repeat;
}

.login-form {
  display: block;
  margin: 0 auto;
  padding: 1.1rem;
  background-color: #383838;
  box-shadow: 0 0 5px 0 #585858;
  border-radius: 1rem;
  width: 20rem;
  text-align: center;
}

.login-field {
  text-align: center;
  display: block;
  margin: 0.7rem auto;
  width: 70%;
  padding: 0 1rem;
  border-radius: 0.5rem;
}

.login-error {
  color: white;
}

.login-field:focus {
  outline: none;
}

.login-submit {
  display: block;
  background-color: #272727;
  margin: 0 auto;
  width: 70%;
  // padding: 0.2rem 0.9rem;
  border-radius: 0.5rem;
  color: #41e254;
  border: none;
}

.login-signup {
  display: block;
  margin: 0.7rem 0 0;
}
