::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

html {
  background-color: #000000;
  font-size: 16px;
  height: 100%;
}

html body {
  height: 100%;
  background-color: #000000;
  // background-color: #000000;
}

.ant-layout-content {
  // background: linear-gradient(90deg, #adeeb0 0%, #9feefc 47%, #e49eff 100%);
  background-color: #000000;
  // background-color: white;
  // background-color: #272727;
  // background-image: url('../src/resources/northern-lights.jpg');
  // background-image: url('../src/resources/stars.png');
  // background: linear-gradient(90deg, #ff8fc3 0%, #f9f7bc 47%, #9eefff 100%);
  // background: linear-gradient(90deg, #adeeb0 0%, #9feefc 47%, #e49eff 100%);
}

// .list-container {
//   // margin-top: 3.3rem;
// }

// * {
//   background-color: rgba(255, 0, 0, 0.2);
// }
// * * {
//   background-color: rgba(0, 255, 0, 0.2);
// }
// * * * {
//   background-color: rgba(0, 0, 255, 0.2);
// }
// * * * * {
//   background-color: rgba(255, 0, 255, 0.2);
// }
// * * * * * {
//   background-color: rgba(0, 255, 255, 0.2);
// }
// * * * * * * {
//   background-color: rgba(255, 255, 0, 0.2);
// }
// * * * * * * * {
//   background-color: rgba(255, 0, 0, 0.2);
// }
// * * * * * * * * {
//   background-color: rgba(0, 255, 0, 0.2);
// }
// * * * * * * * * * {
//   background-color: rgba(0, 0, 255, 0.2);
// }
